{% extends "layout.html" %}
  
{% block title %}Contribution{% endblock %}
{% block lead %}Make a useful contribution for future iGEM teams. Use this page to document that contribution.{% endblock %}

{% block page_content %}
<div class="row mt-4 bitter">
  <div class="col-lg-3">
    <div id="menu">
    <h2 class="text-center">Sidebar</h2>
      <section class="chapter menubg">
      
        <p>
          <a href="#Overview">Overview</a>
        </p>
        <p>
          <a href="#Culture">Culturing Cyanobacteria</a>
        </p>
        <p>
          <a href="#measure">Automated Screen Printer</a>
        </p>
        <hr>
        <p>
          <a href=""></a>
        </p>
      </section>
    </div>
  </div>


  <div class="col-lg-9 descriptionbox">
  <h1 id="Cyanos">Cyanobacteria</h1>
  <h2 id="Overview">Overview</h2>
  <p>WHY DO WE FEEL LIKE WE HAVE TO CONTRIBUTE CYANOBACTERIA CULTURING TO IGEM (insert that here)</p>
  <h2 id="Culture">Culturing Cyanobacteria</h2>
  <p>You have to have high enough starting OD, at least 0.1 or else lag phase will literally last forever</p>
  <p>Make sure you are giving them enough light</p>
  <p>Shoot for pH of 8</p>
  <p>Shake them really fast or bubble with regular air</p>
  <h2 id="measure">Measurement</h2>
  <p>You can measure cell health by measuring OD 660 for chlorophyll A and OD 730. OD 660/OD 730 will give you a good metric for cell health</p>

  <hr>

  <h1 id="Bricks">Biobricks</h1>
  <h2 id="Promoter">Promoters</h2>
  <p></p>


  </div>
</div>

{% endblock %}
