{% extends "layout.html" %}
{% block page_content %}



<!-- <section class="sliding-transition">
<body>

<div class="container">
  <div class="trigger"></div>

  <div class="image-container">
    <img src="https://static.igem.wiki/teams/5052/homepage/white2.png" alt="Left Image" class="image image-left">
    <img src="https://static.igem.wiki/teams/5052/homepage/white2.png" alt="Right Image" class="image image-right">
  </div>
</div>

<script src="{{ url_for('static', filename = 'script.js') }}"></script>
</body>

</section> -->

<body class="bitter">
  <h1 class="text-center hometitle-box">We are the University of Rochester: Cyanovolt</h1>
  <p class="text-center homedescription-box"> Our team is composed of 11 undergrads passionate about STEM and using science to bring about positive change in our community. Our team comprises of members from sophomores to seniors with different majors. We are guided by a group of advisors, including head advisor Dr. Anne Meyer, who has led many previous iGEM teams to grand prizes and notable awards. Everyone on this team embodies the spirit and ideals of iGEM. We are excited to see how we can utilize science to bring about positive change in our community.</p>
  <div class="text-center homedescription-box">
    <ul>
      <li>Our project combines clean energy and sustainability to
      contribute to stopping the climate crisis through the
      creation of a CO2-sequestering bio-photovoltaic cell
      powered by modified cyanobacteria.</li>
  
      <li>Electrons released while photosynthesis occurs in the
      cyanobacteria can be picked up by the photovoltaic cell
      and redirected to create electrical output, thus giving
      us a source of green energy.</li>
  
      <li>We will modify our strain of cyanobacteria by targeting
      a carbon-fixing enzymes to increase the effectiveness
      and efficiency in CO2 sequestration of our chassis.</li>
  
     <li> Alongside electricity production and CO2 sequestration,
      we will engineer our cyanobacteria to synthesize a high-
      value product, such as ethanol.</li>
      
     <li>The cyanobacteria will be screenprinted onto an
      inexpensive paper substrate, maximizing the total
      surface area of the cyanobacterial culture and
      effectively producing a cheap and sustainable “solar
      panel” without the need for expensive materials.</li>
    </ul>
  </div>
  
            

        </section>




  <!--  Clear initial logo to start with     -->
       <!--  <div class="parent-home-element">
          <img src="https://static.igem.wiki/teams/5052/homepage/white2.png" alt="Clear logo" class="clear responsive-image">
        </div> -->
  
  
  <!--  Green Squeege (the first one that goes across)  -->
  <!--       <div class="scrape">
          <img src="https://static.igem.wiki/teams/5052/homepage/greensqueege.png" alt="green squeege" class="slider-responsive" style="height: 80vh; width: 40vw;">
        </div>
   -->
  
  <!--  First white box slider to reveal ONLY green portions  -->
  <!-- <section class="parent-home-element">
    <div class="Box"></div>
  </section>     
   -->
  
  <!--  Green Portion of iGEM Logo with purple part transparent  -->
  <!-- <div class="parent-home-element">
 <img src="https://static.igem.wiki/teams/5052/homepage/green2-1-1.png" alt="green logo" class="green responsive-image">
    </div> --> 
  
  
  <!--  Purple Squeege (the second one that goes across)  -->
   <!--    <div class="scrape2">
        <img src="https://static.igem.wiki/teams/5052/homepage/purplesqueege.png" alt="purple squeege" class="slider-responsive" style="height: 80vh; width: 40vw;">
      </div>     
   -->
  
  <!--  Second white box slider to reveal whole cyanovolt logo  -->
<!--   <section class="parent-home-element">
    <div class="Box2"></div>
  </section>     
   -->
  
  
  
  <!-- Final portion of iGEM Logo that is the finished thing -->
 <!--  <div class="parent-home-element">
    <img src="https://static.igem.wiki/teams/5052/homepage/cyanovolt-white-background-linear.jpg" alt="iGEM Logo" class="newpurple responsive-image">
  </div> -->
  
  
   <!--  <div class="slider"></div>
  </div>
 -->
 <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename = 'app.js') }}"></script> -->

</body>

{% endblock %}
