{% extends "layout.html" %}
 {% block title %}Notebook{% endblock %}
{% block lead %}Document the dates you worked on your project. This should be a detailed account of the work done each day for your project.{% endblock %}


{% block page_content %}

<div class="container-fluid mt-4">
   <div class="row">
      <div class="col-lg-3 Siderbar">
   <div id="menu">
   <h2><u>Sidebar</u></h2>
     <section class="chapter menubg stylesidemenu">
   <p class="text-large"
     style="a{
      text-decoration: none;
      color: #7C3CF2;
    }
    a:hover{
      text-decoration: none;
      color:dimgray;
    }">
       <div>
           <p><a href="#JuneMonth">June</a></p>
           <div id="June-menu" class="submenu">
               <p><a href="#June-17">June 17</a></p>
               <p><a href="#June-24">June 24</a></p>
        </div>
       </div>
       <div>
           <p><a href="#JulyMonth">July</a></p>
           <div id="Sequester-menu" class="submenu">
               <p><a href="#July-1">July 1</a></p>
               <p><a href="#July-8">July 8</a></p>
               <p><a href="#July-15">July 15</a></p>
               <p><a href="#July-22">July 22</a></p>
               <p><a href="#July-29">July 29</a></p>
           </div>
        </div>
       <div>
           <p><a href="#AugustMonth">August</a></p>
           <div id="Sequester-menu" class="submenu">
               <p><a href="#August-5">August 5</a></p>
               <p><a href="#August-12">August 12</a></p>
               <p><a href="#August-19">August 19</a></p>
               <p><a href="#August-26">August 26</a></p>
           </div>
       </div>
       <div>
           <p><a href="#SeptemberMonth">September</a></p>
           <div id="Sequester-menu" class="submenu">
               <p><a href="#September-2">September 2</a></p>
               <p><a href="#September-9">September 9</a></p>
               <p><a href="#September-16">September 16</a></p>
               <p><a href="#September-23">September 23</a></p>
               <p><a href="#September-30">September 30</a></p>
           </div>
       </div>
     </p>
     </section>
   </div>
 </div>



<div class="col-lg-9 descriptionbox">
<h2 id="JuneMonth">June</h2>
<h4 id="June-17">June  17th</h4>
<a href="https://static.igem.wiki/teams/5052/notebook/6-17-entriescompressed.pdf" download="617NotebookEntries" target="_blank">Week of 6.17.24 Notebook Entries</a> <br>
<h4 id="June-24">June 24th</h4>
   <a href="https://static.igem.wiki/teams/5052/notebook/6-24-entriescompressed.pdf" download="624NotebookEntries" target="_blank">Week of 6.24.24 Notebook Entries</a> <br>
<hr>

<h2 id="JulyMonth">July</h2>
<h4 id="July-1">July 1st</h4>
<a href="https://static.igem.wiki/teams/5052/notebook/7-1-entries.pdf" download="701NotebookEntries" target="_blank">Week of 7.1.24 Notebook Entries</a> <br>
<h4 id="July-8">July 8th</h4>
<a href="https://static.igem.wiki/teams/5052/notebook/7-8-entries.pdf" download="708NotebookEntries" target="_blank">Week of 7.8.24 Notebook Entries</a> <br>
<h4 id="July-15">July 15th</h4>
<a href="https://static.igem.wiki/teams/5052/notebook/7-15-entries.pdf" download="715NotebookEntries" target="_blank">Week of 7.15.24 Notebook Entries</a> <br>
<h4 id="July-22">July 22nd</h4>
<a href="https://static.igem.wiki/teams/5052/notebook/7-22-entries.pdf" download="722NotebookEntries" target="_blank">Week of 7.22.24 Notebook Entries</a> <br>
<h4 id="July-29">July 29th</h4>
   <a href="https://static.igem.wiki/teams/5052/notebook/7-29-cloning-entries.pdf" download="729CloningEntries" target="_blank">Week of 7.29.24 Cloning Entries</a> <br>
   <a href="https://static.igem.wiki/teams/5052/notebook/7-29-co2-entries.pdf" download="729CO2Entries" target="_blank">Week of 7.29.24 CO2 Entries</a> <br>
   <a href="https://static.igem.wiki/teams/5052/notebook/7-29-cyanobacteria-entries.pdf" download="729CyanobacteriaEntries" target="_blank">Week of 7.29.24 Cyanobacteria Entries</a> <br>
   <a href="https://static.igem.wiki/teams/5052/notebook/7-29-entriescompressed.pdf" download="729NotebookEntries" target="_blank">Week of 7.29.24 Notebook Entries</a> <br>
<hr>

<h2 id="AugustMonth">August</h2>
<h4 id="August-5">August 5th</h4>
   <a href="https://static.igem.wiki/teams/5052/notebook/8-5-entriescompressed.pdf" download="85NotebookEntries" target="_blank">Week of 8.5.24 Notebook Entries</a> <br>
   <a href="https://static.igem.wiki/teams/5052/notebook/8-5-promoter-entries.pdf" download="85PromoterEntries" target="_blank">Week of 8.5.24 Promoter Entries</a> <br>
   <a href="https://static.igem.wiki/teams/5052/notebook/8-5-co2-entries.pdf" download="722NotebookEntries" target="_blank">Week of 8.5.24 CO2 Entries</a> <br>
   <a href="https://static.igem.wiki/teams/5052/notebook/8-5-cloning-entries.pdf" download="85NotebookEntries" target="_blank">Week of 8.5.24 Cloning Entries</a> <br>
<h4 id="August-12">August 12th</h4>
   <a href="https://static.igem.wiki/teams/5052/notebook/8-12-entries.pdf" download="812NotebookEntries" target="_blank">Week of 8.12.24 Notebook Entries</a> <br>
<h4 id="August-19">August 19th</h4>
   <a href="https://static.igem.wiki/teams/5052/notebook/8-19-main-entries.pdf" download="819NotebookEntries" target="_blank">Week of 8.19.24 Notebook Entries</a> <br>
   <a href="https://static.igem.wiki/teams/5052/notebook/8-19-etoh-entries.pdf" download="819EtOhEntries" target="_blank">Week of 8.19.24 Ethanol Entries</a> <br>
   <a href="https://static.igem.wiki/teams/5052/notebook/8-19-cloning-entries.pdf" download="819NotebookEntries" target="_blank">Week of 8.19.24 Cloning Entries</a> <br>
   <a href="https://static.igem.wiki/teams/5052/notebook/8-19-promoter-entries.pdf" download="819PromoterEntries" target="_blank">Week of 8.19.24 Promoter Entries</a> <br>
<h4 id="August-26">August 26th</h4>
      <a href="https://static.igem.wiki/teams/5052/notebook/8-26-main-entries.pdf" download="722NotebookEntries" target="_blank">Week of 8.26.24 Notebook Entries</a> <br>
<hr>

<h2 id="SeptemberMonth">September</h2>
<h4 id="September-2">September 2nd</h4>
   <a href="https://static.igem.wiki/teams/5052/notebook/9-2-entries.pdf" download="92NotebookEntries" target="_blank">Week of 9.2.24 Notebook Entries</a>
<h4 id="September-9">September 9th</h4>
<a href="https://static.igem.wiki/teams/5052/notebook/9-9-entries-1.pdf" download="9924NotebookEntries" target="_blank">Week of 9.9.24 Notebook Entries</a> <br>
</div>   
</div>
</div>


<script>
   document.addEventListener("DOMContentLoaded", () => {
       // Get the fixed navbar height
       const navbarHeight = document.querySelector(".navbar") ? document.querySelector(".navbar").offsetHeight : 0;
     
       // Select all anchor links in the sidebar menu
       document.querySelectorAll('#menu a').forEach(anchor => {
           anchor.addEventListener('click', function(e) {
               e.preventDefault(); // Prevent default anchor click behavior
               
               // Get the href attribute of the clicked anchor and use it to select the target element
               const targetId = this.getAttribute('href');
               const targetElement = document.querySelector(targetId);
     
               if (targetElement) {
                   // Scroll to the target element, minus the navbar height to avoid being hidden under the navbar
                   window.scrollTo({
                       top: targetElement.offsetTop - navbarHeight, 
                       behavior: 'smooth' // Smooth scrolling
                   });
   
                   // Expand the corresponding submenu if exists
                   const submenu = document.querySelector(targetId + "-menu");
                   if (submenu) {
                       // Collapse all other submenus first
                       document.querySelectorAll(".submenu").forEach(sub => {
                           sub.style.display = "none";
                       });
                       // Expand the relevant submenu
                       submenu.style.display = "block";
                   }
   
                   // Highlight the clicked link
                   document.querySelectorAll('#menu a').forEach(link => link.classList.remove('active'));
                   this.classList.add('active');
               }
           });
       });
   });
   
   document.addEventListener("DOMContentLoaded", function() {
       const imageStacks = document.querySelectorAll('.image-stack');
   
       imageStacks.forEach(stack => {
           const images = stack.querySelectorAll('.stacked-image');
           let currentImageIndex = 0;
   
           // Function to rotate images within each stack
           function rotateImages() {
               images[currentImageIndex].classList.remove('active');
               currentImageIndex = (currentImageIndex + 1) % images.length;
               images[currentImageIndex].classList.add('active');
           }
   
           // Add click event listener to each image stack
           stack.addEventListener('click', rotateImages);
       });
   });
   
   document.addEventListener("DOMContentLoaded", function() {
       const imageStacks = document.querySelectorAll('.image-stack-horizontal');
   
       imageStacks.forEach(stack => {
           const images = stack.querySelectorAll('.stacked-image-horizontal');
           let currentImageIndex = 0;
   
           // Function to rotate images within each stack
           function rotateImages() {
               images[currentImageIndex].classList.remove('active');
               currentImageIndex = (currentImageIndex + 1) % images.length;
               images[currentImageIndex].classList.add('active');
           }
   
           // Add click event listener to each image stack
           stack.addEventListener('click', rotateImages);
       });
   });

</script>


{% endblock %}
