{% extends "layout.html" %}
  
{% block title %}Software{% endblock %}
{% block lead %}Software in iGEM should make synthetic biology based on standard parts easier, faster, better or more accessible to our community.{% endblock %}

{% block page_content %}

<div class="row mt-4 bitter">
  <div class="col-lg-3">
    <div id="menu">
    <h2 class="text-center">Sidebar</h2>
      <section class="chapter menubg">
      <p>
        <a href="#Overview">Overview</a>
      </p>
      <div>
        <p><a href="#Automation">Automation</a></p>
        <div id="Automation-menu" class="submenu">
            <p><a href="#Automation-Background">Background</a></p>
            <p><a href="#Automation-Goals">Goals</a></p>
            <p><a href="#Automation-Assumptions">Assumptions</a></p>
            <p><a href="#Automation-Approach">Approach</a></p>
            <p><a href="#Automation-Discussion">Discussion</a></p>
            <p><a href="#Automation-Future">Future Directions</a></p>
        </div>
      </div>
      <p><a href="#Manual">Manual</a></p>
      </section>
    </div>
  </div>

  <div class="col-lg-9 descriptionbox">
    <h2 class="text-center">Our Project</h2>
    <hr>
<section style="padding-top: 10vh;">
  <h3 id="SOFTWARE">Software</h3>
    <h4 id="Arduino">Arduino</h4>
     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias tempora eius at est dignissimos quaerat, eveniet vitae fugiat vel temporibus voluptatem, sapiente expedita,</p>
 </section>
  </div>
</div>

{% endblock %}
