{% extends "layout.html" %}
  
{% block title %}Meet the Team{% endblock %}
{% block lead %}University of Rochester{% endblock %}

{% block page_content %}

<body class="bitter">

<h2 style="text-align: center;">Meet the Team</h2>
<img src="https://static.igem.wiki/teams/5052/team-pictures/img-5065-min.png" 
alt="Team Picture" style="display:block; margin-left: auto; margin-right: auto; width:80%; max-width:1000px; margin-bottom: 50px; border: 9px solid #B08FED;">

<div class="flexbox-container" style="text-align: center;">

    <div class="flexbox-item">
        <img src="https://static.igem.wiki/teams/5052/team-pictures/seeya-pic-1-min.jpg" alt="Seeya" class="team-picture" style="border: 3px solid #39b7d6">
        <div class="bitter">
            <h3>Seeya</h3>
            <p class="teamrole">Team & Brainstorming Leader</p>
        </div>
        <div class="overlay" style="background-color: #39b7d6;">
            <h1>Team Leader</h1>
            <p><strong>Pronouns:</strong> She/Her</p> <br>
            <p><strong>Class Year:</strong> 2026</p> <br>
            <p><strong>Major:</strong> Molecular Genetics</p> <br>
            <p><strong>Hometown:</strong> Long Island, New York</p><br>
            <p><strong>Bucket List Activity: </strong> "I want to see all seven continents"</p>
        </div>
    </div>

    <div class="flexbox-item">
        <img src="https://static.igem.wiki/teams/5052/team-pictures/grace-pic-1-min.jpg" alt="Grace" class="team-picture" style="border: 3px solid #DDF4FA">
        <div class="bitter">
            <h3>Grace</h3>
            <p class="teamrole">Science Manager</p>
        </div>
        <div class="overlay" style=background-color:#DDF4FA>
            <h1>Science Manager</h1>
            <p><strong>Pronouns:</strong> She/Her</p> <br>
            <p><strong>Class Year:</strong> 2026</p> <br>
            <p><strong>Major:</strong> Biochemistry & Music</p> <br>
            <p><strong>Hometown:</strong> Fargo, North Dakota</p><br>
            <p><strong>Bucket List Activity:</strong> "Guest conduct a symphony with the NY Philharmonic</p>
        </div>
    </div>

    <div class="flexbox-item">
        <img src="https://static.igem.wiki/teams/5052/team-pictures/jack-pic-1-min.jpg" alt="Jack" class="team-picture" style="border: 3px solid #026B54">
        <div class="bitter">
            <h3>Jack</h3>
            <p class="teamrole">Lab & Safety Manager</p>
        </div>
        <div class="overlay" style=background-color:#24855B>
            <h1>Lab & Safety Manager</h1>
            <p><strong>Pronouns:</strong> He/Him</p> <br>
            <p><strong>Class Year:</strong> 2025</p> <br>
            <p><strong>Major:</strong> Biochemistry</p> <br>
            <p><strong>Hometown:</strong> Augusta, New Jersey</p><br>
            <p><strong>Bucket List Activity:</strong> "Camp in every national park in the United States</p>
        </div>
    </div>

    <div class="flexbox-item">
        <img src="https://static.igem.wiki/teams/5052/team-pictures/weronika-pic-1-min.jpg" alt="Weronika" class="team-picture" style="border: 3px solid #66FF00;">
        <div class="bitter">
            <h3>Weronika</h3>
            <p class="teamrole">Hardware Manager</p>
        </div>
        <div class="overlay" style="background-color: #66FF00;">
            <h1>Hardware Manager</h1>
            <p><strong>Pronouns:</strong> She/Her</p> <br>
            <p><strong>Class Year:</strong> 2026</p> <br>
            <p><strong>Major:</strong> Biomedical Engineering</p> <br>
            <p><strong>Hometown:</strong> Framingham, Massachusetts</p><br>
            <p><strong>Bucket List Activity:</strong> "Road trip the entire West Coast"</p>
        </div>
    </div>

    <div class="flexbox-item">
        
        <img src="https://static.igem.wiki/teams/5052/team-pictures/claire-pic-1-min.jpg" alt="Claire" class="team-picture" style="border: 3px solid #A9A6D2">
        <div class="bitter">
            <h3>Claire</h3>
            <p class="teamrole">Modeling Manager</p>
        </div>
        <div class="overlay" style=background-color:#A9A6D2>
            <h1>Modeling Manager</h1>
            <p><strong>Pronouns:</strong> She/Her</p> <br>
            <p><strong>Class Year:</strong> 2026</p> <br>
            <p><strong>Major:</strong> Computational Biology & Statistics</p> <br>
            <p><strong>Hometown:</strong> Cleveland, Ohio</p><br>
            <p><strong>Bucket List Activity:</strong> "I want to be a part of a coordinated flashmob"</p>
        </div>
    </div>

    <div class="flexbox-item">
        <img src="https://static.igem.wiki/teams/5052/team-pictures/caleb-pic-1-min.jpg" class="team-picture" alt="Caleb" style="border: 3px solid #E34234">
        <div class="bitter">
            <h3>Caleb</h3>
            <p class="teamrole">Wiki & Software Manager</p>
         </div> 
         <div class="overlay" style=background-color:#E34234>
            <h1>Wiki & Software Manager</h1>
            <p><strong>Pronouns:</strong> He/Him</p> <br>
            <p><strong>Class Year:</strong> 2027</p> <br>
            <p><strong>Major:</strong> Microbiology</p> <br>
            <p><strong>Hometown:</strong> Montgomery, New Jersey</p><br>
            <p><strong>Bucket List Activity:</strong> "See the Northern Lights"</p>
        </div>
    </div>

    <div class="flexbox-item">
        <img src=https://static.igem.wiki/teams/5052/team-pictures/jeff-pic-1-min.jpg class="team-picture" alt="Jeff" style="border: 3px solid #663399">
        <div class="bitter">
            <h3>Jeff</h3>
            <p class="bitter teamrole">Graphic Designer</p>
        </div>
        <div class="overlay" style=background-color:#663399>
            <h1>Graphic Designer</h1>
            <p><strong>Pronouns:</strong> He/Him</p> <br>
            <p><strong>Class Year:</strong> 2026</p> <br>
            <p><strong>Major:</strong> Microbiology & Brain and Cognitive Sciences</p> <br>
            <p><strong>Hometown:</strong> Hong Kong, China</p><br>
            <p><strong>Bucket List Activity:</strong> "Cook the perfect medium rare A5 wagyu rib eye in space"</p>
        </div>

    </div>

    <div class="flexbox-item">
        <img src="https://static.igem.wiki/teams/5052/team-pictures/michelia-pic-1-min.jpg" class="team-picture" alt="Michelia" style="border: 3px solid #D9D3E5">
        <div class="bitter">
            <h3>Michelia (Ngoc Lan Huong)</h3>
            <p class="teamrole">Policy & Practice Manager</p>
        </div>
        <div class="overlay" style=background-color:#D9D3E5>
            <h1>Policy and Practice Manager</h1>
            <p><strong>Pronouns:</strong> She/Her</p> <br>
            <p><strong>Class Year:</strong> 2026</p> <br>
            <p><strong>Major:</strong> Biochemistry</p> <br>
            <p><strong>Hometown:</strong> Ho Chi Minh City, Vietnam</p><br>
            <p><strong>Bucket List Activity:</strong> "Eat street food in every country without getting food poisoning"</p>
        </div>
    </div>

    <div class="flexbox-item">
        <img src="https://static.igem.wiki/teams/5052/team-pictures/img-8933-1-min.jpg" class="team-picture" alt="Alexis" style="border: 3px solid #FFC8DD">
        <div class="bitter">
            <h3>Alexis</h3>
            <p class="teamrole">Education & Outreach Manager</p>
        </div>
        <div class="overlay" style=background-color:#FFC8DD>
            <h1>Public Relations & Outreach and Education Manager</h1>
            <p><strong>Pronouns:</strong> She/Her</p> <br>
            <p><strong>Class Year:</strong> 2026</p> <br>
            <p><strong>Major:</strong> Molecular Genetics and Psychology</p> <br>
            <p><strong>Hometown:</strong> Buffalo, New York</p><br>
            <p><strong>Bucket List Activity:</strong> "I want to be a contestant on the show <em>Big Brother</em></p>
        </div>
    </div>

    <div class="flexbox-item">
        <img src="https://static.igem.wiki/teams/5052/team-pictures/elina-pic-1-min.jpg" class="team-picture" alt="Elina" style="border: 3px solid #026B54">
        <div class="bitter">
            <h3>Elina</h3>
            <p class="teamrole">Fundraising Manager</p>
        </div>
        <div class="overlay" style=background-color:#026B54>
            <h1>Fundraising and Finance Manager</h1>
            <p><strong>Pronouns:</strong> She/Her</p> <br>
            <p><strong>Class Year:</strong> 2026</p> <br>
            <p><strong>Major:</strong> Biochemistry</p> <br>
            <p><strong>Hometown:</strong> Aurora, Illinois</p><br>
            <p><strong>Bucket List Activity:</strong> "Go Skydiving"</p>
        </div>
    </div>

    <div class="flexbox-item">
        <img src="https://static.igem.wiki/teams/5052/team-pictures/tracy-pic-1-min.jpg" class="team-picture" alt="Tracy" style="border: 3px solid #F5BD02">
        <div>
            <h3>Tracy (Shuhan)</h3>
            <p class="bitter teamrole">Video Manager</p>
        </div>
        <div class="overlay" style=background-color:#F5BD02>
            <h1>Video Manager</h1>
            <p><strong>Pronouns:</strong> She/Her</p> <br>
            <p><strong>Class Year:</strong> 2026</p> <br>
            <p><strong>Major:</strong> Cell and Developmental Biology & Japanese</p> <br>
            <p><strong>Hometown:</strong> Tianjin, China</p><br>
            <p><strong>Bucket List Activity:</strong> "Plan to go to london for one weekend in the middle of the semester to watch a stage play"</p>
        </div>
    </div>
</div>


<h1 style="text-align: center;">Team Advisors!</h1>
<hr>
<!--Team Advisors!-->
<div class="flexbox-container" style="text-align: center;">
    <div class="flexbox-item">
        <img src="https://static.igem.wiki/teams/5052/team-pictures/a-stein-pic2019.jpg" class="team-picture" alt="Alexis Stein" style="border: 3px solid #b4f502; top: 1rem;">
        <div>
            <h3>Dr Stein</h3>
            <p class="bitter teamrole">Wetlab Advisor</p>
        </div>
        <div class="overlay" style=background-color:#b4f502>
            <p>Dr. Stein provided knowledge on wet lab protocols!</p>
        </div>
    </div>

    <div class="flexbox-item">
        <img src="https://static.igem.wiki/teams/5052/team-pictures/anne-igem-cropped.jpg" class="team-picture" alt="Anne Meyer" style="border: 3px solid #FFEB00">
        <div>
            <h3>Dr Meyer</h3>
            <p class="bitter teamrole">Principal Investigator</p>
        </div>
        <div class="overlay" style=background-color:#FFEB00>
            <p class="mx-auto">Dr. Meyer provided lots of advice in navigating the iGEM process!</p>
        </div>
    </div>

    <div class="flexbox-item">
        <img src="https://static.igem.wiki/teams/5052/team-pictures/eliopic.jpg" class="team-picture" alt="Elio Abbondanzieri" style="border: 3px solid #b4f502">
        <div>
            <h3>Dr Abbondanzieri</h3>
            <p class="bitter teamrole">Hardware Advisor</p>
        </div>
        <div class="overlay" style=background-color:#b4f502>
            <p>Dr. Abbondanzieri provided lots of input for Modeling.</p>
        </div>
    </div>

    <div class="flexbox-item">
        <img src="https://static.igem.wiki/teams/5052/team-pictures/lopatkin-headshot.jpg" class="team-picture" alt="Allison Lopatkin" style="border: 3px solid #A8DF65">
        <div>
            <h3>Dr Lopatkin</h3>
            <p class="bitter teamrole">Modeling Advisor</p>
        </div>
        <div class="overlay" style=background-color:#A8DF65>
            <p>Dr. Lopatkin provided lots of guidance for Modeling.</p>
        </div>
    </div>

</div>

<h1 style="text-align: center;">Teaching Assistants!</h1>
<hr>
<div class="flexbox-container" style="text-align: center;">
<div class="flexbox-item">
    <img src="https://static.igem.wiki/teams/5052/team-pictures/liz-pic.jpeg" class="team-picture" alt="Elizabeth Martin" style="border: 3px solid #0072b5">
    <div>
        <h3>Elizabeth Martin</h3>
        <p class="bitter teamrole">Hardware Assistant</p>
    </div>
    <div class="overlay" style=background-color:#0072b5>
        <h1>Hardware Teaching Assistant</h1>
            <p><strong>Pronouns:</strong> She/Her</p> <br>
            <p><strong>Class Year:</strong> 2025</p> <br>
            <p><strong>Major:</strong> Microbiology</p> <br>
            <p><strong>Hometown:</strong> Windham, New Hampshire</p><br>
            <p><strong>Bucket List Activity:</strong> "I want to go heli skiing in Europe!"</p>
    </div>
</div>

<div class="flexbox-item">
    <img src="https://static.igem.wiki/teams/5052/team-pictures/eric-pic-min-copy.jpeg" class="team-picture" alt="Eric Heinze" style="border: 3px solid #23C1FF">
    <div>
        <h3>Eric Heinze</h3>
        <p class="bitter teamrole">Wet-lab Assistant</p>
    </div>
    <div class="overlay" style=background-color:#23C1FF>
        <h1>Wet Lab Teaching Assistant</h1>
            <p><strong>Pronouns:</strong> He/Him</p> <br>
            <p><strong>Area of Study:</strong> PhD in Evolution, Ecology, Genetics, & Genomics</p> <br>
            <p><strong>Hometown:</strong> Blacksburg, Virginia</p><br>
            <p><strong>Bucket List Activity:</strong> "Go on a road trip across the US and visit every national park"</p>
    </div>
</div>

<div class="flexbox-item">
    <img src="https://static.igem.wiki/teams/5052/team-pictures/igem-kate-1.jpg" class="team-picture" alt="Kate Kelchner" style="border: 3px solid #AFDBF5">
    <div>
        <h3>Kate Kelchner</h3>
        <p class="bitter teamrole">Wet-lab Assistant</p>
    </div>
    <div class="overlay" style=background-color:#AFDBF5>
        <h1>Wet Lab Teaching Assistant</h1>
            <p><strong>Pronouns:</strong> She/Her</p> <br>
            <p><strong>Area of Study:</strong> PhD in Biology</p> <br>
            <p><strong>Hometown:</strong> Berwick, Pennsylvania</p><br>
            <p><strong>Bucket List Activity:</strong> "Visit every US state and Canadian Province"</p>
    </div>
</div>
</div>

</body>


{% endblock %}
